@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
html {
    display: flex;
    justify-content: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3c9dff;
    font-family: Roboto, sans-serif;
    color: #fff;
    height: 100vh;
    max-width: 700px;
    overflow: hidden;
}

body > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    padding: 20px;
    font-size: 1.2rem;
}

li {
    font-size: 1.6rem;
}

.btn{
text-decoration: none;
font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 30px;
color: #fff;
background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%);
padding: 10px 30px;
border: 2px solid #0066cc;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%);
color: #0066cc;
border: solid 2px #0066cc;
}